:root {
    background: rgb(250,227,4);
    --background: radial-gradient(circle, rgba(250,227,4,1) 0%, rgba(241,222,46,1) 2%, rgba(255,179,0,1) 39%);
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-weight: 400;
    margin: 0 auto;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: var(--background);
}
.imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
    position: absolute;
    margin-top:70px;
}
.personagem {
    top: 0px;
    position: relative;
    z-index: 1;
    width: 250px;
}

h1 {
    padding: 3rem 0 1rem;
    font-size:32px ;
    color:#1E1F36;
    text-align: center; 
}

.perguntas-respostas {
    margin-top: 120px;
    width: 80vw;
    padding: 4rem 0 2rem 0;
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 20px 43px -7px rgba(0,0,0,0.75);
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E8E8EA;
}


.pergunta {
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    text-align: left;
    border: none;
    width: 80%;
    padding: 1rem 0;
    font-weight: 400;
    color: #4B4C5F;
    background-color: #FFFFFF;
}

.flecha {
    margin-left: 0.3rem;
}

.resposta {
    display: none;
    max-height: 0;
    font-size: 12px;
    text-align: left;
    width: 80%;
    background-color:#ffffff;
    padding: 1rem 0;
}
.rodar {
    transform: rotate(180deg);
}

.pergunta-ativa {
    font-weight: 700;
    color: #1E1F36;
}

.mostrar-resposta {
    display: block;
    max-height: 200px;
}

/*----Responsivo----*/

@media screen and (min-width:410px) {

    .imagens {
        margin-top:110px;
        width: 0 auto;
    }

    .personagem {
        width: 300px;
    }
    .perguntas-respostas {
        margin-top: 200px;
     }
     
}

@media screen and (min-width:700px) {

    .imagens {
        margin-top:40px;
        width: 0 auto;
    }

    .personagem{
        width: 450px;
        top: 20px;
    }
    h1 {
        margin-top: 20px;
    }
    .perguntas-respostas {
        padding: 8rem 0 5rem;
     }        
}

@media screen and (min-width:1024px) {
    
    .imagens {
        margin:260px 0 0 -490px;
        width: 0 auto;
    }

    .personagem{
        width: 500px;
        margin-left: -28px;
    }

    .pergunta:hover {
        color: #F47B56;
    }

    h1 {
        margin-top: 0;
        text-align: left;
        margin-left: 40px;
    }
    .perguntas-respostas {
        padding: 30px 0 80px 0;
        display: grid;
        max-width: 920px;
        grid-template-columns: 1fr 1fr;
    }    
    
    .container-geral {
        grid-column: 2;
    }
}